.timeline{
    height: 80vh;
    display: block;
    margin: auto;
    background-color: #060606;
}
.vertical-timeline-custom-line::before {
    background: #212121;
  }

  .vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #212121, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }
  

.timeline-cntn{
    padding-top: 10%;
}
.title{
    color: #d5d5d5;
    font-family: 'Fira Mono', monospace;
    font-weight: 600;
}

.location{
    font-family: 'Fira Mono', monospace;
    font-weight: 400;
    margin-top: 5px;
}

.timline-description{
    font-family: 'Monda', sans-serif;
    font-weight: 400;
}